:root {
    --color-primary: brown;
    --color-bg-button: antiquewhite;
    --font-main: "Coral Pixels", serif;
    --font-excuses: "Henny Penny", serif;
}

body {
    background-image: url('spongebob.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: var(--color-primary);
    font-family: var(--font-main);
    font-size: 150px;
}

button {
    background-color: var(--color-bg-button);
    border-radius: 50px;
    color: black;
    font-family: var(--font-main);
    padding: 50px;
    font-size: 50px;
    transition: all 0.4s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: lemonchiffon;
}

#excuse-image,
#generated-excuse,
#generate-again-btn {
    display: none;
}

#excuse-image {
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
}

#generated-excuse {
    color: white;
    font-size: 50px;
    font-family: var(--font-excuses);
    text-shadow: 2px 2px 9px black;
}

#generate-again-btn {
    margin-top: 20px;
}