body {
    background-image: url('spongebob.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: brown;
    font-size: 150px;
    text-shadow: 2px 2px 30px black;
}

button {
    background-color: antiquewhite;
    border-radius: 50px;
    color: black;
    padding: 50px;
    font-size: 50px;
}

#excuse-image,
#generated-excuse,
#generate-again-btn {
    display: none;
}